* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f0f4fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    display: flex;
    column-gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 280px;
    text-align: left;
}

.tag {
    background-color: #e0e7ff;
    color: #4f46e5;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #4f46e5;
    border: 2px solid #4f46e5;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #4f46e5;
    color: #fff;
}

.card-professional {
    width: 280px;
    background-color: #fde7e7;
    color: #333;
    border-radius: 15px;
    padding: 0 0 20px 20px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;


}

.price-tag {
    background-color: #e6b0aa;
    color: #fff;
    margin-left: 190px;
    padding: 5px;
    font-size: 16px;
    border-radius: 15px 15px 0px 15px;
}

.primary {
    background-color: #4f46e5;
    color: #fff;
    border: none;
}

/* .primary:hover {
    background-color: #3b39c2;
} */

ul {
    list-style-type: none;
    margin-bottom: 14px;
    padding-left: 0;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.stats {
    display: flex;

}

#satisfaction {
    background-color: #98a6ca;
    margin: 5px;

    padding: 10px 20px 10px 10px;
    border-radius: 10%;


}

#customers {
    background-color: #98a6ca;
    margin: 5px;
    padding: 10px 20px 10px 10px;
    border-radius: 10%;
}

.stats {
    font-size: 18px;
    color: #4f46e5;
}

.card:hover {
    transform: translateY(+50px);
}

.card-professional:hover {
    transform: translateY(+50px);

}